{% extends "base.html" %}

{% block titulo %}
<title> About Us </title>
{% endblock titulo %}


{% block contenido %}
<h1 style="color:orange;">
  Sobre mí 
</h1>

<p>
<strong>Soy Rocio y recien estoy recorriendo los primeros pasos en python. Soy de Buenos Aires Argentina.
Este blog es un proyecto final del curso de Python en CoderHouse.<strong>
</p>

<p>
<strong>En este blog, encontrarás recetas y cursos sobre una variedad de temas relacionados con Comidas.<strong>

</p>


{% endblock contenido%}