{% extends "base.html" %}


{% block contenido %}
<h1 style="color: seagreen;">
<strong> Como tener una huerta organica en casa.<strong>
</h1>
<br>
<br>
<strong> ¿Queres saber cómo tener un huerta en casa de forma sencilla? Te lo contamos paso a paso.<strong>
<p>
 <p>
<br>
<strong>¿Qué es una huerta orgánica?<storng>
Una huerta orgánica es un espacio en el que se cultivan hortalizas en armonía con la naturaleza, es decir, una manera de cultivar alimentos sin el uso de productos químicos
que puedan dañar la tierra y la salud de las personas.
Es una forma natural, económica y fácil de producir alimentos saludables y lo podemos hacer en casa durante todo el año.
Una huerta orgánica casera te permitirá tener una alimentación más saludable y, al mismo tiempo, cuidar del medio ambiente.
También tiene otros beneficios como el ahorro económico que puede suponer para las familias y el hecho de poder convertirse 
en una afición a la que dedicar parte de nuestro tiempo libre.    
</p>
  
<br>
<p>
<p style="text-decoration: underline;">Pasos para tener una mini huerta en casa: </p>
<br>
<p>Elige el lugar adecuado. Ten en cuenta que necesitarás espacio, un suelo adecuado, luz solar, agua,etc.</p>
<p>Decide qué quieres cultivar. Frutas, verduras, hortalizas…</p>
<p>Decide si quieres tomates, perejil o pepinos; aquello que vayas a consumir y que se adapte bien al clima en el que vives.</p>
<p>Planta tus vegetales. Es recomendable que los agrupes por filas para poder maniobrar bien con ellos a la hora de regarlos, recolectarlos, etc.</p>
<p>Riega tus plantas. Cada vegetal requiere de un tipo y cantidad de riego determinada. Ni te quedes corto ni te pases.</p>
Con estos pasos básicos podrás tener una pequeña huerta en casa con la que ahorrar, tomar alimentos más sanos y cuidar del medio ambiente de forma sencilla.
 Aunque recuerda que la mejor forma de ahorrar es contar con un buen seguro de ahorro.

</p>


{% endblock contenido%}