
{% extends "base.html" %}

{% block titulo %}
<title> Libros Recomendados </title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:darkorange;">
  Libros
</h1>

<a href="{% url 'libro_recomendado' %}" </a>

<br><br>
<table class="table table-striped table-bordered">
  <thead>
      <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th></th>
      
</tr>
<tbody>
    {% for libros in libros %}
    <tr>
      <td>{{ libros.titulo }}</td>
      <td>{{ libros.autor }}</td>
      <td>
       </td>
      <td>        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</tfoot>
</table>
{% endblock contenido %}