
{% extends "base.html" %}

{% block contenido %}
<h1 style="color: purple;"> 
    Coctel y Tragos
</h1>

<a href="{% url 'lista_tragos' %}"style="color: hotpink;">Ver todas</a>
 
<br><br>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th></th>
  </tr>
    </thead>
    <tbody>
      {% for trago in tragos %}      
        <td>{{ trago.id }}</td>
        <td>{{ trago.titulo }}</td>        
        <td>
       </td>
      <td>
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock contenido %}