{% extends "base.html" %}
{% load static %}

<div class= "col-md-6">
  <img src="{% static 'imagenes/tragos.jpg' %}" style="max-width:300px;">
{% block contenido %}
<h1 style="color: purple;"> 
    Coctels y Tragos
</h1>

<a href="{% url 'lista_tragos' %}"style="color: hotpink;">Ver todas</a>
 
<br><br>

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Titulo</th>
      <th>Ingredientes</th>
      <th>Pasos</th>
  </tr>
    </thead>
    <tbody>
      {% for trago in tragos %}      
        <td>{{ trago.titulo }}</td>        
        <td>{{ trago.ingredientes}}</td>
        <td>{{ trago.pasos}}</td>
      <td>
         </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock contenido %}